<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
	<meta charset="utf-8">
</head>
<body>
<div class="container">
<div class="row m-5">
<div class="col-md-12">
<h2>CV Personnaliser</h2>
<hr>
</div>
</div>
<div class="row m-5">
<div class="col-md-12">
<h4>Pardon veillez donner vos details</h4>
</div>
</div>
<div class="row m-5">
<div class="col-md-7">
<form method="POST">
   {% csrf_token%}
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="name" nam-"name" aria-describedby="e mailHelp" placeholder="Entrez votre nom">
  </div> 
   <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" id="Email" nam-"Email" aria-describedby="e mailHelp" placeholder="Entrez votre nom">
  </div> 
   <div class="form-group">
    <label for="">phone</label>
    <input type="text" class="form-control" id="phone" nam-"phone" aria-describedby="e mailHelp" placeholder="Entrez votre numero">
  </div>
  <div class="form-group">
    <label for="">Unniversite</label>
    <input type="text" class="form-control" id="Unniversite" nam-"name" aria-describedby="e mailHelp" placeholder="Votre Ecole">
  </div>
  <div class="form-group">
      <label for="">Programmation</label>
      <textarea placeholder="c, c++, python...." type="text" class="form-control" id="Programmation"></textarea>
       <div class="form-group">
      <label for="">Niveau</label>
    <select class="form-control">
  <option>Licence</option>
   <option>Master</option>
    <option>Doctorat</option>
</select>
<div class="form-group">
      <label for="">About</label>
      <textarea placeholder="Parez nous de vous" type="text" class="form-control" id="name"></textarea>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>